footer {
    margin-top: 50px;
}
address,
i {
    justify-content: center;
    font-size: 0.7rem;
    color: #111;
    font-style: normal;
    text-align: center;
    z-index: 3;
    position: relative;
    font-family: 'Roboto', sans-serif; !important;
}